<% script('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true') -%>
<% script('js/google_map.js') -%>
<% script('js/gmaps.js') -%>

<div id = "googleMap">
</div>

<% if(typeof formSubmitted != 'undefined' && formSubmitted == true) { %>
	<script>
		var formSubmitted = true;
		var user_location = '<%= user_location %>';
		var reply = '<%= reply %>';
	</script>
<% } %>