<% layout('layout') -%>

<div id="wrapper">
	<div id = "leftColumn">
		<%- partial('search_form') %>
		<%- partial('google_map') %>
	</div>

	<div id = "rightColumn">
		<%- partial('tweets_pane') %>
	</div>
</div>