<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="TeamNameTwitter Application">
    <meta name="author" content="TeamName">

    <link href="css/app.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	  <link rel="stylesheet" media="(max-width: 640px)" href="css/iphone.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <%- scripts %>
    <%- stylesheets %>

  </head>
  <body>
    <%- body %>
  </body>
</html>