<% layout('layout') -%>
<% script('js/form.js') -%>

<div id = "tweetForm">
	<form action="twitter" method="post" id="tweets_form"> 
	<fieldset id = "fieldSet">
		<legend><a href="/">Twitter Search</a></legend>
		
		<label>Enter Hashtags: 
			<input type = "text" name ="hashtags" id = "hashtags">
		</label>

		<label>Location: 
			<input type = "text" name ="search_location" id = "search_location" placeholder="Use your location">
		</label>
		
		<label>Location Radius: 
			<input type = "range" min = "1" and max = "50" name = "radius" id = "radius" value="5">
		</label>
		<input type="number" id="miles" value="5" min="1" max="50">
		<span>mi</span>
		
		<br>
		
		<label>Select Date: 
			<input type = "date" name = "date" id = "date">
		</label>
	    
	    <label>Sort by:
			<input type = "radio" name = "sentimentalTweets" id = "happyTweets" value = "HT" checked> Happy Tweets
			<input type = "radio" name = "sentimentalTweets" id = "sadTweets" value = "ST"> Sad Tweets
		</label>

		<br>
		
		<input type = "submit" id = "btn" value = "Search" />

	</fieldset>
	</form>
</div>