<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/app.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  </head>
  <body>
    <%- include header.ejs %>
    <p>hashtag1: <%= hashtag1 %></p>
    <p>hashtag2: <%= hashtag2 %></p>
  </body>
</html>