*{
border-radius:7px;

}

body{
background-image: linear-gradient(to bottom, white, red);

}


#wrapper{
width:80%;
margin:auto;
background-image: linear-gradient(to bottom, white, blue);
height:800px;
}

#leftColumn{
float:left;
width:59.9%;
height:99.8%;
border:1px solid black;
}

#tweetForm{
height:24%;
overflow:auto;
}

#googleMap{
border:1px solid black;
height:76%;
background-image: linear-gradient(to bottom, yellow,black);
}

#rightColumn{
margin-left:60%;
width:39.9%;
height:99.8%;
border:1px solid black;
}

.hder{
border-bottom:1px solid black;
text-align :center;
color:pink;
height:3.1%;
overflow:auto;
}

tr{
border:1px solid black;	
border-radius:5px;
background-image: linear-gradient(to bottom,white,green);
height:9.9%
}

#tweets{
width:99.9%;
height:96.9%;
overflow:auto;
}















