body{
background-image: linear-gradient(to bottom, white, red);
}

#wrapper{
width:80%;
margin:auto;
}

#leftColumn{
width:99.9%;
height:99.8%;
border:1px solid black;
}

#tweetForm{
height:24%;
overflow:auto;
}

#rightColumn{
width:100%;
margin:auto;
overflow:auto;
background-image: linear-gradient(to bottom, white, red);
}

#googleMap{
border:1px solid black;
height:76%;
background-image: linear-gradient(to bottom, yellow,black);
}


